html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : 0;
    vertical-align : baseline;
    background     : transparent;
}

body{
	width:100%;
	height: 100%;
    font-size   : 10px;
    font-family : Arial, Helvetica, sans-serif;
	overflow-x : auto;
    overflow-y : scroll;
}

html, body{
    height : 100%;
}


#site_background{
	position: fixed;
    top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position-x: 50%; 
	background-image: url("/template/default/images/background.png");
	background-repeat: repeat-y;
}

.content{
	width: 980px;
	top: 0px;
	margin: auto;
}

header{
	padding-top: 10px;
	position:relative;
}

#logo-container{
	width: 479px;
    position:relative;
	margin: auto;
}

#logo{
	top: -5px;
	position:relative;
	font-style: normal;
    font-variant: normal;
    font-weight: normal;
	font-size: 70px;
	font-family: Impact;
	color: #000000;
}

#header_logo_line{
	color: #000000;
	background-color: #000000;
	height: 14px;
	width: 468px;
	border: none;
	top: 64px;
	left: 6px;
	position:absolute;
}

#header_menu{
	top: 10px;
	position:relative;
    left: 5px;
    width: 969px;
    height: 18px;
    text-align: center;
}

.header_menu_button{
	top: 10px;
	text-decoration: none;
	display: inline-block;
    width: 305px;
    height: 18px;
	font: bold 14px  'Arial Black';
	color: #000000;
}

.header_menu_button_out{
	font: bold 14px  'Arial Black';
	border: none;
	background: none;
	cursor: pointer; 
	color:#000000;
}

article{
	top: 10px;
	position:relative;
}

.full_width{
	background-color: #000;
	width: 100%;
	position:relative;
}

#movies_line{
	background-color: #000;
	height: 476px;
}

#login_line{
	background-color: #000;
	top: 40px;
	height: 476px;
}

#logintitle_line{
	width: 1029px;
	top: -20px;
	position: relative;
	background-color: #B22222;
	height: 75px;
}

#moviesNow_line{
	width: 1029px;
	top: 20px;
	position: relative;
	background-color: #EFEEE6;
	height: 75px;
}
#login_rect1{
	width:450px;
	position:relative;
	top:-18px;
	left:-250px;
	background-color:#E6E6E6;
	height:400px;
}
#login_rect2{
	width:450px;
	position:relative;
	top:-154px;
	left:500px;
	background-color:#E6E6E6;
	height:400px;
}
#moviesNow_title{
	top: -5px;
    left: 40px;
    position: relative;
	line-height: 1.4em;
	color: #BC3427;
	font: normal normal normal 60px/1.4em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
}

#login_title{
	top: -5px;
    left: 40px;
    position: relative;
	line-height: 1.4em;
	color: #000;
	font: normal normal normal 60px/1.4em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
}

#shedule{
	padding-top: 30px;
}

#shedule_line{
	position: relative;
	background-color: #000;
	height: 55px;
}

#shedule_title{
	position:relative;
	left: 10px;
	font: normal normal normal 40px/1.4em impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    color: #FFF;
}

#login_labels{
	
}
.txt{
	height:35px;
	border: 2.5px dashed #B22222;
	position:relative;
	left:70px;
	top:30px;
	}
.btn{
	height:40px;
	width:200px; 
	background:#2E2E2E; 
	color:white;
	font-size:11pt;
	border-radius:  20px;
	position:relative;
	left:120px;
	top:30px;
}
 .txt:focus {
    height:30px;
	border: 2.5px dashed #B22222;
   }
.login_titles{
	border-collapse: separate;
    border-spacing: 5px;
}

.login_table{
	border-spacing: 5px;
	position: relative
}
.login_title{
	font: normal normal normal 60px/1.4em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
}

.movie_info{
	padding-top: 20px;
	position: relative;
}

.movie_image{
	position: relative;
	padding-left: 90px;
	display: inline-block;
	float: left;
}

.about_movie{
	position: relative;
	left: 150px;
	 display: inline;
}

.movie_marker{
	border-spacing: 10px;
	display: table;
	top: 5px;
	background-color: #000;
	position: relative;
	width: 7px;
	height: 10px;
	display: table-cell;
}

.movie_title{
	color: #BC3427;
	font: normal normal normal 16px/1.4em 'Open Sans',sans-serif;
	position: relative;
	text-decoration: underline;
}

.movie_rait{
	display: table;
	position: relative;
	font: normal normal normal 13px/1.4em 'Open Sans',sans-serif;
    color: #000000;
}

.movie_room{
	font: 13px/1.4em 'Open Sans',sans-serif;
	font-family: 'arial black';
    color: #000000;
	display: table;
}

.movie_sessions{
	border-spacing: 5px;
	position: relative
}

.movie_time{
	line-height: 1.4em;
    font-size: 18px;
	font-family: open sans condensed,sans-serif;
}

.movie_price{
	line-height: 1.4em;
    font-family: open sans condensed,sans-serif;
}

.shedule_line{
	margin-top: 30px;
	width: 978px;
	height: 1px;
	background-color: #A8A6A6;
}


footer{
}

#timer_line{
	width: 100%;
	height: 50px;
	background-color: #000;
}

#mytimer{
	margin:auto;
	width:220px;
}

#seatsform{
	margin: auto;
}

.freeseat{
	width: 50px;
	height: 50px;
	background-color: #0e7a00;
}

.reserveseat{
	width: 50px;
	height: 50px;
	background-color: #0015b3;
}

.cantreserveseat{
	width: 50px;
	height: 50px;
	background-color: #db6e00;
}

.orderseat{
	width: 50px;
	height: 50px;
	background-color: #db0000;
}
